wxdfast_ico ICON "resources/wxdfast.ico"

#include "wx/msw/wx.rc"

1 VERSIONINFO
FILEVERSION 0,4,4,944
PRODUCTVERSION 0,4,4,944
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
     {
         BLOCK "041604E4"
         {
             VALUE "CompanyName", "Max Velasques"
             VALUE "FileVersion", "0.4.4"
             VALUE "FileDescription", "Developed using KDevelop3 on Debian Linux"
             VALUE "InternalName", "wxDFast"
             VALUE "LegalCopyright", "Max Velasques"
             VALUE "LegalTrademarks", "Max Velasques"
             VALUE "OriginalFilename", "wxdfast.exe"
             VALUE "ProductName", "wxDownload Fast"
             VALUE "ProductVersion", "0.4.4"
         }
     }
}
